# hoshinova configuration file
# Copy this file to config.toml and update it as needed.

[ytarchive]
executable_path = "ytarchive"
working_directory = "temp"
args = [
  "--vp9", "--thumbnail", "--add-metadata", "--threads", "4",
  "--retry-stream", "30",
  "--output", "%(upload_date)s %(title)s [%(channel)s] (%(id)s)"
]
quality = "best"
# Delay between starting ytarchive processes. Increase this number if you get
# rate limited by YouTube.
delay_start = "1s"

[scraper.rss]
poll_interval = "30s"
# Ignore videos older than this. Helps prevent hitting the rate limit on startup
# if a lot of older non-live videos match your filters.
ignore_older_than = "24h"

[notifier.discord]
webhook_url = "https://discordapp.com/api/webhooks/123456789012345678/abcdefghijklmnopqrstuvwxyz"
notify_on = ["waiting", "recording", "done", "failed"]

# A web interface to view and manage tasks.
# Optional, remove this section to disable.
[webserver]
bind_address = "0.0.0.0:1104"
# Path to a unix socket to listen on instead of / in addition to a TCP port.
# unix_path = "/tmp/hoshinova.sock"

[[channel]]
id = "UCP0BspO_AMEe3aQqqpo89Dg"
name = "Moona Hoshinova"
filters = ["(?i)MoonUtau|Karaoke|Archive"]
# By default, filters will only match the video title. Set this to true if you
# want them to also match the video description.
match_description = false
outpath = "./videos/moona"

# Add more channels...
# [[channel]]
# id = "..."
# name = "..."
# filters = [...]
# match_description = ...
# outpath = "..."
